* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	background: #f8f8f8;
	color: #3c404d;
}

li {
	list-style: none;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

a:focus, button:focus, input:focus, textarea:focus {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.aside .panel-group .panel {
	margin-bottom: 0px;
	box-shadow: 0px;
	border-radius: 0px;
	border: 0px;
	font-size: 14px;
	box-shadow: none;
}

.aside .panel-group .panel-collapse a {
	display: block;
	padding: 8px 15px 8px 34px;
	border-bottom: 1px solid #f4f4f4;
	color: #555;
	transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}

.aside .panel-group .panel-heading {
	padding: 0px;
	background-color: white;
}

.aside .panel-group .panel-heading a,
.aside .panel-group .panel-link a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #3c404d;
}

.aside .panel-group .panel-heading a .caret,
.aside .panel-group .panel-link a .fa {
	margin-right: 6px;
	font-size: 12px;
	width: 8px;
}

.aside .panel-group .panel-heading a .caret {
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.aside .panel-group .panel-heading a .caret.rotate {
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.aside .panel-group .panel-collapse {
	background-color: #f8f8f8;
}

.aside .panel-group .panel-collapse a:hover,
.aside .panel-group .panel-collapse a:focus {
	color: #00B7FF;
	text-decoration: none;
}

.aside .panel-group a.active {
	color: #d44950;
}


@media (min-width: 769px) {
	.form-control {
		box-shadow: none;
	}

	.form-control:focus {
		box-shadow: none;
	}

	.input-group .input-group-addon {
		background-color: white;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		border: 0px;
		border-bottom: 1px solid tomato;
		color: tomato;
	}
	.nav-tabs>li>a, .nav-tabs>li>a:hover {
		background: none;
		color: #555;
		border: 0px;
		border-radius: 0px;
	}

	.table>thead>tr>th {
		border-bottom-width: 1px;
	}

	.table>tbody>tr>td {
		font-size: 12px;
	}

	.modal-content {
		box-shadow: none;
		border-radius: 0px;
	}

	.wrapper-section {
		position: absolute;
	}

	.wrapper-section:first-child {
		top: 0px;
		left: 0px;
		right: 0px;
	}

	.wrapper-section:nth-child(2) {
		top: 52px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

	.navbar {
		margin: 0px !important;
		border-radius: 0px !important;
		margin-bottom: 0px !important;
		background-color: #3c404d;
	}

	.navbar .user-header-img {
		display: inline-block;
		width: 34px;
		height: 34px;
		overflow: hidden;
		border-radius: 50%;
		background-color: rgba(234, 198, 219, .5);
		float: left;
		margin-top: -6px;
		margin-right: 6px;
	}

	.navbar .navbar-brand,
	.navbar .navbar-brand:hover,
	.navbar .navbar-brand:active,
	.navbar .navbar-brand:focus {
		color: #00B7FF;
	}

	.aside,
	.wrapper-content {
		height: -webkit-fill-available;
		overflow: auto;
	}

	.aside {
		flex: 0 0 200px;
		border-right: 1px solid #e8e8e8;
		background-color: white;
	}

	.wrapper-content {
		flex: 1;
		background-color: #f6f6f6;
		position: relative;
	}

	.table .table-tr {
		display: flex;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		border-top: 1px solid #f2f2f2;
	}

	.table .table-header {
		border-bottom: 1px solid #f2f2f2;
	}

	.table .table-tr .table-th,
	.table .table-tr .table-td {
		padding: 6px 12px;
	}
}


/*mobile*/
@media (min-width: 320px) and (max-width: 640px)  {
	#wrapper, .aside {
		position: fixed;
	}

	#wrapper {
		top: 0px;
		width: 100%;
		height: 100%;
		right: 0px;
		overflow: auto;
		background-color: #f8f8f8;
		z-index: 10;
	}

	.navbar.navbar-inverse {
		background-color: #3c404d;
		margin-bottom: 0px;
	}

	.aside {
		top: 0px;
		left: 100%;
		bottom: 0px;
		overflow-y: auto;
		overflow-x: hidden;
		width: 70%;
		background-color: white;
		z-index: -1;
	}

	.wrapper-content {
		background-color: #f8f8f8;
		width: 100%;
	}
}




